<header class="flex justify-between items-center py-4 px-8">
    <div>
        <h1 class="text-5xl font-marker">Savage Ipsum</h1>
        {{!-- <h2 class="text-3xl font-marker">Ohhhh yeeeeah!!!</h2> --}}
    </div>
    <a href="https://github.com/jpottruff/savage-ipsum" target="_blank"><img src="/images/github/GitHub-Mark-Light-64px.png" alt="github" class="github-img"></a>
</header>