<header class="flex justify-between items-center py-4 px-8 tracking-wider">
    <div class="flex">
        <img src="/images/machoman-vanorton-childhoodmemoriesicons-behance.png" alt="asdads" class="logo" />
        <div class="ml-4 flex flex-col justify-center font-marker">
            <h1 class="my-1 text-5xl text-pink-500">Savage Ipsum</h1>
            <h2 class="my-1.5 text-3xl text-purple-500">Ohhhh yeeeeah!!!</h2>
        </div>
    </div>
    <a href="https://github.com/jpottruff/savage-ipsum" target="_blank">
        <img src="/images/github/GitHub-Mark-Light-64px.png" alt="github" class="github-img">
    </a>
</header>