<h1 class="text-center mb-3">Savage Ipsum</h1>
<h2>Ohhhh yeeeeah!!!</h2>

<a href="#">Github</a>
<form action="/api/generate">
    <label for="paragraphs">Paragraphs:</label>
    <input name="paragraphs" type="number" min="1" max="25" placeholder="1-25">
    <button type="submit" value="generate">Dig it!</button>
</form>

{{#if paragraphs}}
<div class="result">
    <h3>Bonesaw is ready!</h3>
    {{#each paragraphs}}
        <p>{{paragraph}}</p>
    {{/each}}
</div>
{{/if}}

